	.cute_form{
		padding: 15px;
		margin: 25px auto;
		border: 1px solid lightgrey;
		border-radius: 10px;
		width: 60%;

	}

	.cute_crud{
		margin: 25px auto;
		padding: 15px;
	}
	.cute_crud table{
		margin: auto;
	}
	.cute_crud button{
		margin: auto;
	}
	.cute_crud tr td {
		width: 20% !important;
	}

	.cute_close_session{
		text-align: right; 
		width: 100%;
	}

	.row{
		margin-left: 0;
		margin-right: 0;
	}
	
	/* Borramos la notice de tinymce */
	.tox .tox-notification--in{
		display: none !important;
	}
	/* Borramos la notice de tinymce */

	.tiny_submit_position{
		width: 100%;
		text-align: right;
		margin-top: 10px;
	}
	#insertar_form{
		border-radius: 10px;
		border: 1px solid lightgrey;
		padding: 10px;

	}

	.show_div{
		display: none;
	}
